*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    .container{
      position: relative;
        // border: 1px solid #fff;
        border-radius: 2%;
        background-color: #000000;
        margin-top: 2%;
        float: right;
        // margin-right: 1%;
        box-shadow: 0 0 10px 10px #6b5ef8;
        canvas{
          position: absolute;
          object-fit: cover;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
    }
    .toolBars{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 10%;
      height: 32rem;
      margin-top: 5%;
        .info{
          font-family: 'Pixelify_Sans';
          // font-weight: bold;
          font-size: 4rem;
        }
        .score{
        margin-left: 3%;
        width: 25%;
        font-weight: bold;
        color: #ffff00;
        }
        .level{
        margin-left: 3%;
        width: 25%;
        font-weight: bold;
        color: #ff0000;
        }
        .time{
          display: flex;
          flex-direction: row;
          margin-left: 3%;
          width: 25%;
          font-weight: bold;
          color: #ffffff;
          }
      }
}
@font-face {
    font-family: "Pixelify_Sans";
    src: url('../fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
  }