*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    .container{
      position: relative;
        // border: 1px solid #fff;
        border-radius: 2%;
        background-color: #000000;
        margin-top: 2%;
        float: right;
        // margin-right: 1%;
        box-shadow: 0 0 10px 10px #6b5ef8;
        display: flex;
        justify-content: center;
        align-items: center;
        canvas{
          position: absolute;
          object-fit: cover;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
        .start{
          .overlay{
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ffff;
            opacity: 30%;
            border-radius: 2%;
            z-index: 10;
            width: 100%;
            height: 100%;
          }
          .overlayText{
            margin: auto;
            font-size: 5rem;
            font-family: 'Pixelify_Sans';
            color: #9cff8f;
            animation: clickToStart 0.8s backwards infinite alternate;
          }
          .overlay_afterclick{
            display: none;
          }
        }
        .beforeOG{
          display: none;
        }
        .overGame{
          .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 2%;
            background-color: #000000;
            opacity: 50%;
            z-index: 20;
          }
          .popup{
            position: absolute;
            background-color: #838282; 
            top: 30% ;
            left: 25%;
            width: 50%;
            height: 25%;
            z-index: 21;
            border: 10px solid #a07b35;
            animation: popupEffect 2s;
            .text{
              text-align: center;
              font-family: 'Pixelify_Sans';
              font-size: 7rem;
              color: #1eff00;
            }
          }
        }
    }
    .toolBars{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 10%;
      height: 32rem;
      margin-top: 5%;
        .info{
          font-family: 'Pixelify_Sans';
          // font-weight: bold;
          font-size: 4rem;
        }
        .score{
        margin-left: 3%;
        width: 25%;
        font-weight: bold;
        color: #ffff00;
        }
        .level{
        margin-left: 3%;
        width: 25%;
        font-weight: bold;
        color: #ff0000;
        }
        .time{
          display: flex;
          flex-direction: row;
          margin-left: 3%;
          width: 25%;
          font-weight: bold;
          color: #ffffff;
          }
      }
}
@font-face {
    font-family: "Pixelify_Sans";
    src: url('../fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
  }

@keyframes clickToStart{
  from{
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}

@keyframes popupEffect{
0%{
  top: 0;
}
100%{
  top:30%
}
}